/* base.css */

/*\/\/\/\/\/\ Colors \/\/\/\/\/\*/
$red: #d21242;
$dark-gray: #414141;
$white: #FFFFFF;

.red {
  color: $red;
}

.dark-gray {
  color: $dark-gray;
}

/*\/\/\/\/\/\ Reset \/\/\/\/\/\*/
img {
  display: block;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  margin: 0;
}

/*\/\/\/\/\/\ Lay-out \/\/\/\/\/\*/
table {
  -premailer-cellspacing: 0;
  -premailer-cellpadding: 0;
}

table.pushbox {
  -premailer-width: 100%;
}
table.sixhunderd, td.sixhunderd {
  -premailer-width: 600;
}

[class=tablefullWidth], [class=fullWidth] {
  @media only screen and (max-width: 625px) {
    width:100% !important;
    max-width:100% !important;
    text-align:center !important;
  }
}

/*\/\/\/\/\/\ Lettertype \/\/\/\/\/\*/
.standaardText {
  font-family: Verdana, Geneva, sans-serif;
  color: $dark-gray;
  font-size: 14px;
  line-height: 20px;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color:$red;
  font-weight:bold;
  @extend .paddingBottom;
}

.white {
  .title { color:$white; a {text-decoration:none; color:$white;} }
}

/*\/\/\/\/\/\ Paddings \/\/\/\/\/\*/
.paddingTop {
  padding-top: 28px;
}

.paddingBottom {
  padding-bottom: 28px;
}

/*\/\/\/\/\/\ Bereken Classes \/\/\/\/\/\*/
.text {
  td.fullWidth {
      @extend .paddingBottom;
      @extend .standaardText;
  }
}