/* base.css */
/*\/\/\/\/\/\ Colors \/\/\/\/\/\*/
/* line 7, ../voorbeeld.scss */
.eneco-red, #content #2classes.standaardText {
  color: #d21242;
}

/* line 11, ../voorbeeld.scss */
.eneco-orange, #content #3classes.standaardText {
  color: #ec740f;
}

/*\/\/\/\/\/\ Reset \/\/\/\/\/\*/
/* line 16, ../voorbeeld.scss */
body {
  width: 100% !important;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* line 26, ../voorbeeld.scss */
img {
  display: block;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  margin: 0px;
}

/*\/\/\/\/\/\ Lettertype \/\/\/\/\/\*/
/* line 35, ../voorbeeld.scss */
.standaardText, #content #2classes.standaardText, #content #3classes.standaardText {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* line 41, ../voorbeeld.scss */
.underline, #content #3classes.standaardText {
  text-decoration: underline;
}

/*\/\/\/\/\/\ Paddings \/\/\/\/\/\*/
/* line 46, ../voorbeeld.scss */
.paddingTop {
  padding-bottom: 30px;
}

/* line 50, ../voorbeeld.scss */
.paddingBottom {
  padding-bottom: 30px;
}

/*\/\/\/\/\/\ Bereken Classes \/\/\/\/\/\*/
