/* base.css */
/*\/\/\/\/\/\ Colors \/\/\/\/\/\*/
.red { color: #d21242; }

.dark-gray { color: #414141; }

/*\/\/\/\/\/\ Reset \/\/\/\/\/\*/
img { display: block; line-height: 100%; outline: none; text-decoration: none; margin: 0px; }

/*\/\/\/\/\/\ Lay-out \/\/\/\/\/\*/
table { -premailer-cellspacing: 0; -premailer-cellpadding: 0; }

[class=tablefullWidth], [class=fullWidth] { -premailer-width: 600; }
@media only screen and (max-width: 625px) { [class=tablefullWidth], [class=fullWidth] { width: 100% !important; max-width: 100% !important; text-align: center !important; } }

/*\/\/\/\/\/\ Lettertype \/\/\/\/\/\*/
.standaardText, .text td.fullWidth { font-family: Verdana, Geneva, sans-serif; color: #414141; font-size: 14px; line-height: 20px; }

.title { font-family: Verdana, Geneva, sans-serif; font-size: 22px; line-height: 28px; color: #d21242; font-weight: bold; }

/*\/\/\/\/\/\ Paddings \/\/\/\/\/\*/
.paddingTop { padding-top: 28px; }

.paddingBottom, .title, .text td.fullWidth { padding-bottom: 28px; }

/*\/\/\/\/\/\ Bereken Classes \/\/\/\/\/\*/
